.body {
    background-color: rgba(248, 246, 243, 1);
}
small {
    color: red;
    font-size: 14px;
}
.section-register {
    width: 25%;
    height: auto;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 24px;
    border: 1px solid silver;
    background-color: white;
}

.img-logo {
    margin: 3%;
    text-align: center;
}

.header-register {
    margin: 3%;
    text-align: center;
    font-weight: 700;
}

.text-header-register {
    margin: 3%;
    text-align: center;
    color: rgba(33, 33, 33, 1);
    font-size: 18px;
    font-weight: 500;
}

input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(239 231 231);
    border-radius: 8px;
    height: 46px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(239 231 231);
    border-radius: 8px;
    height: 46px;
}

.form-label {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

#saveBtn {
    border: none;
    padding: 0px;
    border-radius: 20px;
    cursor: pointer;
}

.textPrivacy {
    text-align: center;
    font-size: 17px;
    line-height: 16.8px;
    font-weight: 400;
}

.hrefLink {
    color: rgba(106, 76, 255, 1);
}

.iti iti--allow-dropdown iti--show-flags {
    width: 100%;
}
.errorInput {
    border-color: red !important;
    visibility: visible;
}

.successInput {
    border-color: green !important;
    visibility: visible;
}
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-check {
    margin-right: 10px; /* Add space between the checkbox and label */
}
#agree{
    margin-bottom: 5%;
    margin-left: 1%;
}
.form-group{
    margin: 3%;
}
.notResponsiveBtnRegister{
    display: block;
}
.responsiveBtnRegister{
    display: none;
}
/* Style the container for the input and button */
.password-input-container {
    position: relative;
}

/* Style the Show Password button */
.btn-show-password {
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    outline: none; /* Remove button outline when clicked */
}

/* Style the Show Password icon */
#showPasswordIcon {
    margin-right: 5px; /* Add spacing between the icon and text */
}

@media (max-width: 575px) {
    .body {
        background-color: rgba(248, 246, 243, 1);
        text-align: center;
    }

    .section-register {
        width: 94%;
        margin: 0 auto;
        padding: 5%;
        border-radius: 24px;
        border: 1px solid silver;
        background-color: white;
        margin-top: 10%;
    }

    .img-logo {
        text-align: center;
    }

    .header-register {
        font-weight: 700;
    }

    .text-header-register {
        color: rgba(33, 33, 33, 1);
        font-size: 18px;
        font-weight: 500;
    }

    input[type="tel"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid rgb(239, 231, 231);
        border-radius: 8px;
        height: 46px;
    }

    .form-label {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
    }

    #saveBtn {
        border: none;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
        background-color: #6A4CFF;
        color: white;
        font-weight: 700;
    }

    .textPrivacy {
        font-size: 17px;
        line-height: 16.8px;
        font-weight: 400;
    }

    .hrefLink {
        color: rgba(106, 76, 255, 1);
    }
    .form-group{
        width: 100%;
        margin: 0%;
        text-align: start;
        margin-bottom: 3%;
    }
    input{
        min-width: max-content;
    }
    .notResponsiveBtnRegister{
        display: none;
    }
    .responsiveBtnRegister{
        display: block;
    }
}
